<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

    <h1>Editing Shipment</h1>

		<%= render 'form', shipment: @shipment %>

		<%= link_to 'Show', @shipment %> |
		<%= link_to 'Back', shipments_path %>

    </div>
  </div>
</div>




